<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ site.title }} | {{ site.tagline }}</title>

    <!-- Begin CSS -->
    <!-- EndOf CSS -->
</head>
<body>
    <main>
        {{ content }}
    </main>

    <footer>
        <p>Copyright &copy; {{ site.github.owner_name }}, </p>
    </footer>

    <!-- Begin Javascript -->
    <!-- EndOf Javascript -->
</body>
</html>
