<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ site.title }} | {{ site.tagline }}</title>

    <!-- Begin CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.css" integrity="sha512-SI0aF82pT58nyOjCNfyeE2Y5/KHId8cLIX/1VYzdjTRs0HPNswsJR+aLQYSWpb88GDJieAgR4g1XWZvUROQv1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
    <!-- EndOf CSS -->
</head>
<body>
    <main>
        {{ content }}
    </main>

    <footer>
        <p>Copyright &copy; {{ site.github.owner_name }}, </p>
    </footer>

    <!-- Begin Javascript -->
    <!-- EndOf Javascript -->
</body>
</html>
